@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --header: #faedbf;
  --footer: #f8f2db;
  --light: #eee;
  --dark: #212121;
  --textColor: #0e2431;
  --secondary: #a54a4a;
  --hover: #7c0c0c;
  --secondColorLight: #4d3f0e;
  --background: #fefefe;
  --shadowBlack100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadowBlack300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --fontSize: 1rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--textColor);
  background-color: var(--background);
  margin: 2rem 0 0 0;
  transition: 0.5s ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.timeline {
  padding-left: 3rem;
  padding-right: 2rem;
}

@media screen and (min-width: 425px) {
  .timeline {
    padding-left: 5rem;
    padding-right: 4rem;
  }
}

.projects-container {
  padding: 1rem;
}

@media screen and (min-width: 425px) {
  .projects-container {
    padding: 3rem 2rem;
  }
}

.hide {
  display: none;
}

.navbar .logo {
  font-family: "Great Vibes", cursive;
}

.home-container img {
  border-radius: 100%;
  border: 5px solid var(--hover);
  transition: 0.2s ease-in;
}

.home-container img:hover {
  box-shadow: 0 0 50px 20px rgba(224, 133, 48, 0.315);
}

.timeline::before {
  content: "";
  height: 80%;
  position: absolute;
  width: 4px;
  background-color: black;
  top: 0;
  bottom: 0;
  margin: 50px 0 auto 30px;
}

@media screen and (min-width: 640px) {
  .timeline::before {
    margin: 100px 0 auto 30px;
    height: 70%;
  }
}

.timeline-container::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  left: -2px;
  background-color: black;
  top: 50px;
  border-radius: 50%;
  z-index: 1;
}

.contact-container .row .column50 {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .contact-container .row .column50 {
    width: 48%;
  }
}

.column100 .textarea {
  border-radius: 30px;
}

.input:focus {
  outline: none;
  border: 1px solid #520505;
}

.popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(0);
  clip-path: circle();
  background-color: rgb(39, 223, 39);
}

.anime {
  animation-name: scaleAnime;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes scaleAnime {
  0% {
    opacity: 0;
    transform: scale(1) translate(-50%, -50%);
  }
  40% {
    opacity: 1;
    transform: scale(1.5, 1.5) translate(-37.5%, -37.5%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(-50%, -50%);
  }
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
